<header class='bg-gray-50 drop-shadow-md pb-4 pt-4 w-full'>
  <ul class='flex items-center'>
    <li class='select-none text-3xl pl-12 pr-12 text-gray-700 border-r-2 border-r-gray-200'>💣</li>
    <%= link_to 'Home', root_path, class: 'text-lg pl-12 pr-12 text-gray-700 pointer border-r-2 border-r-gray-200' %>
<%= link_to 'Posts', posts_path, class: 'text-lg pl-12 pr-12 text-gray-700 pointer border-r-2 border-r-gray-200' %>
    <li class='text-lg pl-12 pr-12 text-gray-700'>About</li>
  </ul>
</header>
