<header class='bg-gray-50 drop-shadow-md pb-5 pt-5 w-full'>
  <ul class='flex'>
    <%= link_to 'Home', root_path, class: 'pl-10 text-gray-700 pointer' %>
    <li class='pl-10 text-gray-700'>Posts</li>
  </ul>
</header>
