<%= render 'shared/header' %>
<div class='px-8 mt-16 max-w-5xl'>
  <h1 class="font-display text-gray-800 font-bold text-4xl pb-5">Welcome to our Micro-reddit!</h1>
  <p class='mb-10 text-lg text-gray-700'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel cursus nunc. Sed volutpat a nulla sed
    sodales. Duis ac ante dignissim, molestie tellus quis, efficitur nulla. Morbi tempus lorem a pulvinar
    accumsan. Curabitur varius, ex tempor gravida convallis, ligula lectus rhoncus augue, vel lacinia lacus
    tellus quis arcu. Curabitur tempor at augue quis porttitor. Sed suscipit mauris venenatis mattis lacinia.
    In pretium tempor porta. Duis et ex ut est aliquet pulvinar. Mauris sed interdum urna, quis viverra sapien.
  </p>
  <%= link_to 'All Posts', posts_path, class: 'active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 hover:bg-violet-800 font-bold text-gray-100 rounded-md bg-violet-700 pl-8 pr-8 pt-4 pb-4 text-xl font-mono' %>
</div>
